<!DOCTYPE html>
<html>
  <title>Contact</title>

  <head>
    <style>
      .myDiv 
      {
        border: 5px outset black;
        background-color: #105b6e;
        text-align: center;
      }
    </style>
  </head>
    
  <body>

    <div class="myDiv">
      <h2>Contact</h2>
      <p>Sample text</p>
      
      <p style="font-size:100px">&#129346;
        &#10024;
      </p>
    </div> 

    <a href="home_view">Click to go to home_view page</a> 

  </body>
  
</html> 